@font-face {
  font-family: "mitra";
  src: url("./assets/fonts/BMitra.woff");
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 14px;
  background-color: #050f1d;
  color: #ffffff;
  width: 100%;
  min-height: 100vh;
  font-family: "mitra" !important;
  direction: rtl;
}

.my-1 {
  margin: 8px 0;
}
.my-2 {
  margin: 16px 0;
}
.mx-1 {
  margin: 0 8px;
}
.mx-2 {
  margin: 0 16px;
}
.mt-1 {
  margin-top: 8px;
}
.mt-2 {
  margin-top: 16px;
}
.mb-1 {
  margin-bottom: 8px;
}
.mb-2 {
  margin-bottom: 16px;
}
.py-1 {
  padding: 6px 0;
}
.py-2 {
  padding: 12px 0;
}
.px-1 {
  padding: 0 6px;
}
.px-2 {
  padding: 0 12px;
}
